{{#data-visual as |svg width height|}}
  {{#arrangement-grid-lines
    select=(svg-transition svg.chart)
    model=dimensionalData
    width=width
    height=height
    margin="10 30 25 65"
    stroke=(color-scale "category10")
    as |selection xScale yScale width height|
  }}

    {{!-- onhover=(action "track") --}}
      {{!-- {{cart-tracker select=svg.chart.tracker model=tracked
      xScale=xScale yScale=yScale width=width height=height
    }} --}}

    {{arrangement-grid-axis
      select=(svg-transition svg.chart.x-axis)
      scale=xScale
      orient="bottom"
      tickSize=(negative-number height)
      ticks=8
      tickPadding=6
    }}

  {{/arrangement-grid-lines}}
{{/data-visual}}


{{yield}}

<div class="SimpleArrangement-playhead" {{bind-attr style=playheadStyle}}></div>
