{{!-- <div class="ArrangementVisual-playhead"></div> --}}

{{arrangement-visual/axis
  arrangement=arrangement
  select=select.ArrangementVisual-Axis
  width=width
  height=128
}}

 {{!--
{{d3-axis
  transform=(svg-translate 0 100)
  select=select.ArrangementVisual-axis
  scale=beatScale
  ticks=1000
  tickSize=(negative-number height)
  orient="top"
}}
 --}}
{{yield select width height}}
