<div class="content">
  {{#link-to null model.model}}
    {{position}} &middot; {{model.model.title}}
  {{/link-to}}
  <div class='tiny inverted basic circular red ui icon button' {{action "remove" model}}>
    <i class='remove icon'></i>
  </div>
</div>
