<div class="content">
  {{track-item
    track=mixItem.track
  }}
  {{#unless isLastItem}}
    {{transition-item
      transition=mixItem.transition
      createTransition='createTransition'
    }}
  {{/unless}}
</div>
