<div class="content">
  {{#link-to null item.model}}
    {{position}} &middot; {{item.model.title}}
  {{/link-to}}
  <div class='tiny inverted basic circular red ui icon button' {{action "remove" item}}>
    <i class='remove icon'></i>
  </div>
</div>
