<div class="ui inverted icon input">
  <input class="prompt SearchSoundcloudTracks-Input" type="text" placeholder="Search Soundcloud...">
  <i class="ui teal globe search icon" {{action "executeSearch"}}></i>
</div>
<div class="results"></div>
