<div class="ui fluid search {{if isReady '' loading}}">
  <div class="ui inverted icon input">
    <input class="prompt" type="text" placeholder="Add Tracks...">
    <i class="ui search search icon"></i>
  </div>
  <div class="results"></div>
</div>
