<div class="ui container">
  {{#link-to 'tracks' class='item'}}
    <i class="inverted teal globe icon"></i> Tracks
  {{/link-to}}
  {{#link-to 'mixes' class='item'}}
    <i class="inverted green shuffle icon"></i> Mixes
  {{/link-to}}

  <div class="right icon menu">
    {{#link-to "login" class="item"}}
      {{#if userSession.isAuthenticated}}
        <i class="inverted purple user icon"></i> {{userSession.currentUser.email}}
      {{else}}
        <i class="inverted user icon"></i> Login
      {{/if}}
    {{/link-to}}
  </div>
</div>
