<div class="ui container">
  {{#link-to 'tracks' class='item'}}
    <i class="inverted teal globe icon"></i> Tracks
  {{/link-to}}
  {{#link-to 'mixes' class='item'}}
    <i class="inverted green shuffle icon"></i> Mixes
  {{/link-to}}
  {{#link-to 'upload' class='item'}}
    <i class="inverted orange cloud upload icon"></i> Upload
  {{/link-to}}

  <div class="right icon menu">
    <a class="item">
      <i class="inverted purple user icon"></i> Login
    </a>
  </div>
</div>
