{{track-clip/axis
  clip=clip
  pxPerBeat=pxPerBeat
}}

<div class="TrackClip-wave" style="{{waveStyle}}">
  {{track-clip/wave
    audioSource=track.audioSource

    isPlaying=isPlaying
    seekTime=audioSeekTime

    pxPerBeat=pxPerBeat
    audioBpm=audioBpm

    volume=clip.volume
    pitch=clip.pitch
    tempo=tempo

    disableMouseInteraction=disableMouseInteraction

    waveDidLoad="waveDidLoad"
  }}
</div>

{{yield markerOptions}}