{{track-clip/axis
  clip=clip
  pxPerBeat=pxPerBeat
}}

<div class="TrackClip-wave" style="{{waveStyle}}">
  {{track-clip/wave
    clip=clip
    pxPerBeat=pxPerBeat
  }}
</div>

{{yield markerOptions}}