{{!-- <div class="TrackClip-Wave-Wrapper" {{bind-attr style="waveSurferStyle"}}> --}}
  {{wave-surfer
    file=track.file
    streamUrl=track.streamUrl

    isPlaying=isPlaying
    seekTime=audioSeekTime

    pxPerBeat=pxPerBeat
    audioBpm=audioBpm

    volume=clip.volume
    pitch=clip.pitch
    tempo=tempo

    disableMouseInteraction=disableMouseInteraction

    waveDidLoad="waveDidLoad"
  }}
{{!-- </div> --}}

{{yield markerOptions}}