{{track-clip/axis
  clip=clip
  pxPerBeat=pxPerBeat
}}

{{#if track.audioSource}}
  <div class="TrackClip-wave" style="{{waveStyle}}">
    {{wave-surfer
      audioSource=track.audioSource

      isPlaying=isPlaying
      seekTime=audioSeekTime

      pxPerBeat=pxPerBeat
      audioBpm=audioBpm

      volume=clip.volume
      pitch=clip.pitch
      tempo=tempo

      disableMouseInteraction=disableMouseInteraction

      waveDidLoad="waveDidLoad"
    }}
  </div>
{{/if}}

{{yield markerOptions}}