body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container {
    width: 600px;
    margin: 0 auto;    
}

.transition, .song {
    cursor: pointer;
    padding: 5px;
}

.selected {
    font-size: 20px;
    background-color: yellow;
}

.current {
    font-size: 20px;
    color: white;
    background-color: blue;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 2px;
}

circle {
  fill: #ccc;
  stroke: #888;
  stroke-width: 1.5px;
  cursor: pointer;
}

text {
  fill: #000;
  font: 12px sans-serif;
  pointer-events: none;
}
