path.link {
  fill: none;
  stroke: #666;
  stroke-width: 2px;
}

circle {
  fill: #ccc;
  stroke: #888;
  stroke-width: 1.5px;
  cursor: pointer;
}

text {
  fill: #222;
  font: sans-serif;
  font-size: 18px;
  pointer-events: none;
}
