@import "../node_modules/semantic/src/elements/progress.less";
@import "../node_modules/semantic/src/elements/icon.less";
@import "../node_modules/semantic/src/elements/button.less";
@import "../node_modules/semantic/src/elements/header.less";
@import "../node_modules/semantic/src/elements/label.less";
@import "../node_modules/semantic/src/elements/segment.less";
@import "../node_modules/semantic/src/elements/basic.icon.less";
@import "../node_modules/semantic/src/elements/input.less";
@import "../node_modules/semantic/src/elements/divider.less";

@import "../node_modules/semantic/src/collections/menu.less";
@import "../node_modules/semantic/src/collections/form.less";
@import "../node_modules/semantic/src/collections/grid.less";
@import "../node_modules/semantic/src/collections/table.less";

@import "../node_modules/semantic/src/modules/dropdown.less";
@import "../node_modules/semantic/src/modules/sidebar.less";
@import "../node_modules/semantic/src/modules/dimmer.less";
/* transition must be last */
@import '../node_modules/semantic/src/modules/transition.less';

.dragging {
  opacity: 0.4;
}

.ui.table tr.drag-over {
  border: 2px dashed #000;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

main.main-container {
  width: 1000px;
  margin: 0px auto;
}

.ui.grid > .row > .tight-right {
  padding-right: 0%;
}

.ui.grid > .row > .tight-left {
  padding-left: 0%;
}

.bold {
  font-weight:900;
}

.wave {
  position: relative;
}

.left-sidebar {
  position: fixed;
  top: 15%;
  z-index: 1;
}

.bottom-sidebar {
  margin: 0 auto;
  width: 20%
}

.bottom-menu {
  position: fixed;
  bottom: 0%;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 12;
}

/* had to be specific enough to override semantic's thing */
.clickable, .ui.icon.input > .clickable {
  cursor: pointer;
}

.progress {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 100%;
}

.pull-right {
  position: absolute;
  right: 0.5%;
}

.hidden {
  position: absolute;
  visibility: hidden;
  width: 100%;
}

@import "../node_modules/semantic/src/collections/grid.less";