.pusher {
  top: -20px;
  background-color: #121314 !important;
}

.main.menu {
  top: 0;
}

.main.menu .container {
  width: 70%;
  margin: 0 auto;
}

.main-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}
  
.sidebar-launch {
  position: fixed;
  top: 63px;
}

// TODO: move these to common
.center-aligned {
  text-align: center;
}

$semantic-green: #2ecc40;
.semantic-green {
  color: $semantic-green !important;
}

$semantic-blue: #3b83c0;
.semantic-blue {
  color: $semantic-blue !important;
}
