.Track_Wave {
  // position off screen
  .wave.hidden {
    position: absolute;
    left: -10000px;
    width: 100%;
  }

  .initial-background {
    background: initial;
  }

  .ui.menu {
    // give room for menu button rollover
    margin-bottom: 1rem;
  }
}
