.Track_Wave {
  // position off screen
  .wave.hidden {
    position: absolute;
    left: -10000px;
    width: 100%;
  }

  .initial-background {
    background: initial;
  }

  .ui.menu {
    // give room for menu button rollover
    margin-bottom: 1rem;
  }

  // region styles
  .wavesurfer-region.linx-region {
    cursor: pointer !important;

    &:hover {
      background-color: rgba(255, 255, 255, 1) !important;
    }
  }
}
