$site-top-padding: 20px;

.ApplicationPage {
  padding-top: $site-nav-height + $site-top-padding;
  height: 100vh; // make sure bg color covers page
  overflow: hidden;

  color: gray;
  background-color: #121314 !important; // override semantic
}

// HACK: make it go away
#ember-testing-container {
  width: 0 !important;
  height: 0 !important;
}
