.application {
  height: 100vh;

  color: gray;

  background-color: #121314 !important; // override semantic
}

.main-container {
  padding-top: $site-nav-height + 50px;

  width: 70%;
  margin: 0 auto;

}

.pusher {
  // top: -20px;
}

// HACK: make it go away
#ember-testing-container {
  width: 0 !important;
  height: 0 !important;
}
