.application {
  min-height: 100vh;

  background-color: #121314 !important; // override semantic
}

.main-container {
  padding-top: $site-nav-height;

  width: 70%;
  margin: 0 auto;

}

.pusher {
  // top: -20px;
}
