.ui.button.no-border,
// .ui.button.no-border:hover,
.ui.button.inverted.no-border,
// .ui.button.inverted.no-border:hover,
.ui.button.basic.inverted.no-border {
// .ui.button.basic.inverted.no-border:hover {
  box-shadow: none !important;
}
