$site-nav-height: 35px;

@import 'index';

@import 'components/site-nav';
@import 'components/page-drop';
@import 'components/progress-bar';

@import 'components/arrangement-visual';
@import 'components/_arrangement-visual/playhead';
@import 'components/_arrangement-visual/backdrop';
@import 'components/_arrangement-visual/row';
@import 'components/_arrangement-visual/clip';
@import 'components/_arrangement-visual/track-clip';
@import 'components/_arrangement-visual/track-clip/marker';
@import 'components/_arrangement-visual/track-clip/axis';
@import 'components/_arrangement-visual/track-clip/wave';
@import 'components/_arrangement-visual/automation-clip';
@import 'components/_arrangement-visual/automation-clip/control-points';

@import 'components/_mix-visual/transition-clip';

@import 'components/simple-mix';
@import 'components/simple-arrangement';
@import 'components/simple-transition';

@import 'components/track-full';
@import 'components/bottom-bar';
@import 'components/queue-controls';
@import 'components/mixes-list';
@import 'components/mixes-list-item';
@import 'components/bezier-curve';
@import 'components/lx-canvas';
@import 'components/d3-axis';

@import 'components/mix-list';
@import 'components/_mix-list/item';
@import 'components/quantize-dropdown';
@import 'components/lx-dropdown';
