@import 'bourbon';
@import 'utils';

$site-nav-height: 40px;

@import 'application-page';
@import 'semantic-overrides';

@import 'components/site-nav';
@import 'components/page-drop';
@import 'components/progress-bar';

@import 'components/arrangement-visual';
@import 'components/_arrangement-visual/playhead';
@import 'components/_arrangement-visual/backdrop';
@import 'components/_arrangement-visual/row';
@import 'components/_arrangement-visual/marker';
@import 'components/_arrangement-visual/clip';
@import 'components/_arrangement-visual/clip/resize-handle';
@import 'components/_arrangement-visual/track-clip';
@import 'components/_arrangement-visual/track-clip/wave';
@import 'components/_arrangement-visual/automation-clip';
@import 'components/_arrangement-visual/automation-clip/control-points';

@import 'components/mix-visual';
@import 'components/_mix-visual/transition-clip';

@import 'components/mix-builder';
@import 'components/_mix-builder/input';
@import 'components/_mix-builder/header';
@import 'components/_mix-builder/tracklist';
@import 'components/_mix-builder/tracklist/item';
@import 'components/_mix-builder/playback-controls';
@import 'components/_mix-builder/precision-controls';
@import 'components/_mix-builder/precision-controls/track';
@import 'components/_mix-builder/precision-controls/transition';

@import 'components/simple-arrangement';
@import 'components/simple-transition';

@import 'components/track-full';
@import 'components/bottom-bar';
@import 'components/queue-controls';
@import 'components/mixes-list';
@import 'components/mixes-list-item';
@import 'components/bezier-curve';
@import 'components/lx-canvas';
@import 'components/d3-axis';

@import 'components/mix-list';
@import 'components/_mix-list/item';
@import 'components/quantize-dropdown';
@import 'components/lx-dropdown';
