$site-nav-height: 35px;

@import 'index';

@import 'components/site-nav';
@import 'components/wave-surfer';
@import 'components/page-drop';
@import 'components/progress-bar';

@import 'components/arrangement-grid';
@import 'components/arrangement-row';
@import 'components/simple-arrangement';

@import 'components/track-full';
@import 'components/track-list';
@import 'components/track-list-item';
@import 'components/clip-marker';
@import 'components/bottom-bar';
@import 'components/queue-controls';
@import 'components/mix-list';
@import 'components/mix-list-item';
@import 'components/mixes-list';
@import 'components/mixes-list-item';
@import 'components/lx-clip';
@import 'components/clip';
@import 'components/track-clip';
@import 'components/transition-clip';
@import 'components/bezier-curve';
@import 'components/lx-canvas';
@import 'components/d3-axis';
@import 'components/arrangement-grid-lines';
@import 'components/_arrangement-grid/axis';
@import 'components/_track-clip/axis';
@import 'components/simple-mix';
