<div class="MixPage">
  {{page-drop action="onPageDrop"}}

  {{mix-builder
    mix=mix
    store=store
    saveMix="saveMix"
    deleteMix="deleteMix"
    didSelectClip="didSelectClip"
    selectedClip=selectedClip
    showArrangement=showArrangement
  }}

  {{outlet}}
</div>
