<div class="MixPage">
  {{page-drop action="onPageDrop"}}

  {{mix-builder
    mix=mix
    selectedTransition=selectedTransition
    selectTransition=(action "selectTransition")
  }}

  {{outlet}}
</div>
