.TrackClipAxis {
  position: absolute;
  z-index: 5; // beat out wavesurfer

  height: 100%;
  width: 100%;

  stroke: rgba(#fff, 0.2);
  shape-rendering: crispEdges;

  text {
    display: none;
  }

  .data-visual {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .tick line {
    stroke-width: 1;
  }

  .domain {
    fill: none;
  }

  .bar-grid {
    stroke: rgba(#fff, 0.3);
    z-index: 6;
  }
}
