.ArrangementGrid {
  border: 1px solid orange;
  cursor: crosshair;
  overflow-y: hidden;
  overflow-x: auto;

  // TODO(D3)
  .data-visual {
    background-color: white;
  }
}

.ArrangementGrid--loading {
  cursor: wait;
}

.ArrangementGrid-playhead {
  position: relative;
  border-left: 2px solid red;
  height: 100%;
}
