.ArrangementGrid {
  position: relative;
  border: 1px solid orange;
  cursor: crosshair;
  overflow-y: hidden;
  overflow-x: auto;
}

.ArrangementGrid--loading {
  cursor: wait;
}

.ArrangementGrid-playhead {
  position: absolute;
  border-left: 2px solid aqua;
  height: 100%;
}
