.ArrangementVisual {
  border: 1px solid whitesmoke;
  cursor: crosshair;

  height: 300px;
  width: 100%;
}

.ArrangementVisual--loading {
  cursor: wait;
}

.ArrangementVisual-playhead {
  stroke-width: 0.5;
  stroke: rgba(#ff0000, 0.8);
}

.ArrangementVisual-beatAxis, .ArrangementVisual-barAxis {
  height: 30px;
  color: white;
  stroke: white;

  text {
    display: none;
  }

  .data-visual {
    width: 100%;
    height: 100%;
  }

  .tick line {
    stroke-width: 1;
    stroke: rgba(#fff, 0.2);
  }

  .domain {
    fill: none;
  }
}

.ArrangementVisual-barAxis {
  stroke: rgba(#fff, 0.3);
}
