.ArrangementVisual {
  // position: relative;
  border: 1px solid whitesmoke;
  cursor: crosshair;
  // overflow-y: hidden;
  // overflow-x: auto;
}

.ArrangementVisual-arrangement {
  border: 1px solid orange;
}

.ArrangementVisual--loading {
  cursor: wait;
}

.ArrangementVisual-playhead {
  position: absolute;
  border-left: 2px solid aqua;
  height: 100%;
}
