$MixBuilder-fromTrackColor: #ac6ac7;
$MixBuilder-toTrackColor: #16a085;

.MixBuilder {
  .sub.header {
    font-size: 13px !important;
  }
}

.MixBuilder-playbackControls {
  margin-top: 1rem; // match grid above
}
