.SimpleArrangement {
  border: 1px solid orange;
  overflow: hidden;
  cursor: crosshair;
}

.SimpleArrangement--loading {
  cursor: wait;
}

.SimpleArrangement-playhead {
  position: relative;
  border-left: 2px solid red;
  height: 100%;
}
