.WaveSurfer {
  width: 100%;
  height: 100%;

  // position off screen
  .WaveSurfer-wave.hidden {
    position: absolute;
    left: -10000px;
    width: 100%;
  }

  .beat-region {
    // override default wavesurfer marker style
    height: 10% !important;
    width: 2px !important;
    top: auto !important;
    bottom: 0 !important;
    cursor: pointer !important;
  }

  .bar-region {
    // override default wavesurfer marker style
    height: 10% !important;
    width: 2px !important;
    // top: auto !important;
    // bottom: 0 !important;
    cursor: pointer !important;
  }
}
