.wave-surfer {
  // position off screen
  .wave.hidden {
    position: absolute;
    left: -10000px;
    width: 100%;
  }

  .beat {
    // override default wavesurfer marker style
    height: 10% !important;
    width: 1px !important;
    top: auto !important;
    bottom: 0 !important;
    cursor: pointer !important;
  }
}
