.MixBuilderTextInput {
  background-color: transparent;
  border-color: transparent;

  height: 100%;
  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:focus {
    background-color: transparent;
    border-color: transparent;
  }

  &::selection {
    background: lighten(#ffb7b7, 20%);
  }
}
