{{arrangement-grid/track-clip/axis
  clip=clip
  pxPerBeat=pxPerBeat
}}

<div class="ArrangementGridTrackClip-wave" style="{{waveStyle}}">
  {{arrangement-grid/track-clip/wave
    clip=clip
    pxPerBeat=pxPerBeat
  }}
</div>

{{yield markerOptions}}