<template name="songSelectModal">
  <div class="modal modal-lg fade" id ="songSelectModal">

    <div class="modal-header">
      <button type="button" class="close">&times;</button>
      <h4 class="modal-title">Select a Song {{> songNav}}</h4>
    </div>

    <!-- Body -->
    <div class="modal-body">
      {{> songs}}
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default cancel">Cancel</button>
      <button type="button" class="btn btn-primary" id="loadSong">Load Song</button>
    </div>

  </div><!-- /.modal -->
</template>