<!-- Modal -->
<template name="songMatchModal">
  <div class="modal modal-lg fade" id ="songMatchModal">

    <div class="modal-header">
      <h4 class="modal-title">Do any of these songs match the info you just submitted? If not, click "No Matches".</h4>
    </div>

    <!-- Body -->
    <div class="modal-body">
      {{> songMatches}}
    </div>

    <div class="modal-footer">
      <button id="noSongMatch" type="button" class="btn btn-default">No Matches</button>
      <button id="submitSongMatch" type="button" class="btn btn-primary">Submit Match</button>
    </div>


  </div><!-- /.modal -->
</template>

<!-- Song Matches -->
<template name="songMatches">
  <ul class="songs">
    {{#each songs}}
      {{> song}}
    {{/each}}
  </ul>
</template>

<!-- Echo Song -->
<template name="echoSong">
  <div class="song {{selected}} well well-sm">
    <p>Title: {{title}}</p>
    <p>Artist: {{artist}}</p>
  </div>
</template>