<!-- Modal -->
<template name="songInfoModal">
  <div class="modal modal-sm fade" id ="songInfoModal">

    <div class="modal-header">
      <h4 class="modal-title">Fill In Song Info For Your {{waveName}}</h4>
    </div>

    <!-- Body -->
    <div class="modal-body">
      {{> songInfoForm}}
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" id="submitSongInfo">Submit Info</button>
    </div>


  </div><!-- /.modal -->
</template>

<!-- Form -->
<template name="songInfoForm">
  <form class="form" role="form">

    Track Title:
    <input type="text" class="form-control" name="name" placeholder="Track Title">

    Track Artist: 
    <input type="text" class="form-control" name="artist" placeholder="Track Artist">-->

    <!-- hack to prevent submission on enter press for single input form -->
    <input type="text" style="display: none;" />
    
  </form>
</template>