.MixBuilderTracklistItem-index {
  margin: 0 20px;
}

.MixBuilderTracklistItem-input {
  background-color: transparent;
  border-color: transparent;

  height: 100%;
  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:focus {
    background-color: transparent;
    border-color: transparent;
  }

  &::selection {
    background: lighten(#ffb7b7, 20%);
  }
}

.MixBuilderTracklistItem-buttonGroup {
  visibility: hidden;
  display: inline;

  .ui.button {
    margin-right: 0 !important;
  }
}

.MixBuilderTracklistItem:hover, .MixBuilderTracklistItem--selectedFromTrack {
  .MixBuilderTracklistItem-buttonGroup {
    visibility: visible;
  }
}

.MixBuilderTracklistItem--selectedFromTrack {
  background-color: darken($MixBuilder-fromTrackColor, 20%);
}

.MixBuilderTracklistItem--selectedToTrack {
  background-color: darken($MixBuilder-toTrackColor, 20%);
}

