.MixPage {
  .track-menu {
    position: relative;
  }

  .bottom-menu {
    margin-top: 14px;
    margin-bottom: 40px;
  }

  .top-menu.menu {
    margin-top: 29px !important;
    margin-right: -4px !important;
  }
}
