.WaveControls {
  .ui.header {
    margin-top: 10px;
    // position: absolute;
    // width: 100%;
    // text-align: center;

    .content {
      // width: 100%;
    }
  }

  .sub-header {
    // text-align: center;
  }
}
