<!-- Player -->
<template name="wavePlayer">
  <div class="col-md-12 text-center">
    <button
      type="button"
      class="btn btn-xs btn-success helptip"
      data-toggle="tooltip"
      data-placement="top"
      data-action="markStart"
      data-id="{{id}}"
      data-original-title="[Left Arrow]">
      Mark Start
    </button>
    {{> playbackButtons}}
    <button
      type="button"
      class="btn btn-xs btn-danger helptip"
      data-toggle="tooltip"
      data-placement="top"
      data-action="markEnd"
      data-id="{{id}}"
      data-original-title="[Right Arrow]">
      Mark End
    </button>
  </div>
</template>

<!-- Playback Buttons -->
<template name="playbackButtons">
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-xs btn-info helptip"
      data-toggle="tooltip"
      data-placement="top"
      data-action="back"
      data-id="{{id}}"
      data-original-title="[Down / Shift+Down]">
      Back
    </button>
    <button
      type="button"
      class="btn btn-xs btn-primary helptip"
      data-toggle="tooltip"
      data-placement="top"
      data-action="playPause"
      data-id="{{id}}"
      data-original-title="[SpaceBar / DoubleClick]">
      Play/Pause
    <button
      type="button"
      class="btn btn-xs btn-info helptip"
      data-toggle="tooltip"
      data-placement="top"
      data-action="forth"
      data-id="{{id}}"
      data-original-title="[Up / Shift+Up]">
      Forth
    </button>
  </div>
</template>
