<!-- Player -->
<template name="wavePlayer">
  <div class="wavePlayer">
    <div class="col-md-4 text-right">
      Zoom:
      <div class="zoomSlider"></div>
    </div>
    <div class="col-md-4 text-center">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-success helptip"
          data-toggle="tooltip"
          data-placement="top"
          data-action="markStart"
          data-id="{{id}}"
          data-original-title="[Left / Shift+Left]">
          set Start Cue
        </button>
        {{> playbackButtons}}
        <button
          type="button"
          class="btn btn-sm btn-danger helptip"
          data-toggle="tooltip"
          data-placement="top"
          data-action="markEnd"
          data-id="{{id}}"
          data-original-title="[Right / Shift+Right]">
          set End Cue
        </button>
      </div>
    </div>
    <div class="col-md-4 text-left">
      Volume:
      <div class="volumeSlider"></div>
    </div>
  </div>
</template>

<!-- Playback Buttons -->
<template name="playbackButtons">
  <button
    type="button"
    class="btn btn-sm btn-info helptip"
    data-toggle="tooltip"
    data-placement="top"
    data-action="back"
    data-id="{{id}}"
    data-original-title="[Down / Shift+Down]">
    Back
  </button>
  <button
    type="button"
    class="btn btn-sm btn-primary helptip"
    data-toggle="tooltip"
    data-placement="top"
    data-action="playPause"
    data-id="{{id}}"
    data-original-title="[SpaceBar / DoubleClick]">
    Play/Pause
  <button
    type="button"
    class="btn btn-sm btn-info helptip"
    data-toggle="tooltip"
    data-placement="top"
    data-action="forth"
    data-id="{{id}}"
    data-original-title="[Up / Shift+Up]">
    Forth
  </button>
</template>
