<!-- Layout -->
<template name="layout">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner" role="navigation">
      <div class="container-full">
        {{> nav}}
      </div>
    </div>
  </div>
  {{{yield}}}
</template>

<template name="nav">
  <span class="navbar-brand">Beatfn.com</span>
  {{> player}}
  {{> pageNav}}
  {{> songNav}}
  {{> loginNav}}
</template>

<!-- Player -->
<template name="player">
  <ul class="nav navbar-left">
    <button class="navbar-btn btn-success" id="play">Play</button>
    <button class="navbar-btn btn-primary" id="skip">Skip</button>
    <button class="navbar-btn btn-danger" id="pause">Pause</button>
    <button class="navbar-btn btn-info" id="stop">Clear Queue</button>
  </ul>
</template>

<!-- Nav -->
<template name="pageNav">
  <ul class="nav nav-pills">
    <li class="{{navClassFor 'graphPage'}}">
      <a href="{{graphPagePath}}">Graph</a>
    </li>
    <li class="{{navClassFor 'uploaderPage'}}">
      <a href="{{uploaderPagePath}}">Uploader</a>
    </li>
  </ul>
</template>

<template name="loginNav">
  <div class="navbar-right">
    <button class="navbar-btn btn-primary">{{loginButtons}}</button>
  </div>
</template>

<template name="songNav">
  <form class="navbar-form navbar-search navbar-right">
    <input type="text" class="song-search-query" placeholder="Find Songs...">
  </form>
</template>

<template name="transitionNav">
  <form class="navbar-form navbar-search navbar-right">
    <input type="text" class="transition-search-query" placeholder="Find Transitions...">
  </form>
</template>