.songsblock {
  display: inline-block;
  width: 200px;

  height: 500px;
  overflow-y: auto;

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 10px;

  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.songsblock .item {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
