body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding-top: 70px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /*background-image:url('http://freebestwallpaper.files.wordpress.com/2012/02/amazing-background-1.png');
    background-repeat: repeat;*/
}

/* copy bootstrap css */
.login-link-text {
  color: #ffffff;
  line-height: 20px;
}
#login-buttons a {
  text-decoration: none;
}
/*******************/

.well {
  opacity: 1.0;
  background-color: #bbb;
}


.container-full {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

.transition, .song {
  font-size: 18px;
  cursor: pointer;
}

.selected {
    font-size: 24px;
    background-color: yellow;
}

.current {
    font-size: 24px;
    color: white;
    background-color: blue;
}
