.ArrangementVisualClip {
}

// .ArrangementVisualClip.is-draggable {
//   cursor: move;
// }

.ArrangementVisualClip-backdrop {
  fill: transparent;
  cursor: pointer;

  &:hover {
    fill: rgba(#fff, 0.4);
  }
}
