.ArrangementVisualTrackClip {
  .ArrangementVisualClip-backdrop {
    cursor: pointer;

    &:hover {
      fill: rgba(#fff, 0.2);
    }
  }

  &.is-loading {
    .ArrangementVisualClip-backdrop {
      fill: rgba(#0ff, 0.2);
      cursor: wait;
    }
  }
}

.ArrangementVisualTrackClip-startOverlay, .ArrangementVisualTrackClip-endOverlay {
  fill: rgba(#000, 0.5);
}
