.ArrangementVisualTrackClip {
  .ArrangementVisualClip-backdrop {
    cursor: pointer;

    &:hover {
      fill: rgba(#fff, 0.2);
    }
  }

  &.is-loading {
    .ArrangementVisualClip-backdrop {
      fill: rgba(#0ff, 0.2);
      cursor: wait;
    }
  }

  &.is-empty {
    .ArrangementVisualClip-backdrop {
      fill: rgba(#ff0, 0.2);
    }
  }
}

.ArrangementVisualTrackClip-startOverlay, .ArrangementVisualTrackClip-endOverlay {
  fill: rgba(#000, 0.5);
}

.ArrangementVisualTrackClip-markers {
  stroke-width: 0.5;
  stroke: rgba(#00ff00, 1);
}
