<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <header id="header"></header>
  <div id="waves" style="display: none;"></div>
  <section id="tracks"></section>
  <section id="samples"></section>
  <footer id="footer"></footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js
  "></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js
  "></script>
  <script src="https://raw.github.com/katspaugh/wavesurfer.js/master/build/wavesurfer.min.js"></script>
  <script src="/js/index.js"></script>

  <script type="text/html" id="template-track">
    <div class="view">
      <label id="name"><%- name %></label>
      <button class="destroy">x</button>
    </div>
    <input class="edit" value="<%- name %>">
    <ul id="track-clips"></ul>
  </script>

  <script type="text/html" id="template-clip">
    <div class="view">
      <label><%- name %></label>
      <button class="destroy">x</button>
    </div>
    <input class="edit" value="<%- name %>">
  </script>

  <script type="text/html" id="template-sample">
    <div class="view">
      <label><%- name %></label>
      <button class="destroy">x</button>
    </div>
    <input class="edit" value="<%- name %>">
  </script>

  <script type="text/html" id="template-trackList">
    <button class="create">+</button>
    <ul id="track-list"></ul>
  </script>

  <script type="text/html" id="template-sampleList">
    <div class="sampleDrop"></div>
    <ul id="sample-list"></ul>
  </script>

</body>
</html>