{{#play-buttons
  isDisabled=false
  isPlaying=mix.isPlaying
  playpause=(action attrs.playpause)
  skipBack=(action attrs.skipBack)
  skipForth="skipForth"}}

  <div class="inverted ui icon button {{if followPlayhead 'orange' 'basic'}}" {{action
    (if followPlayhead
      (action toggleFollowPlayhead)
      (pipe-action (action toggleFollowPlayhead) (action centerView))
    )}}>
    <i class="marker icon"></i>
  </div>

  Tempo:
  <span class="MixBuilderPlaybackControls-tempo">
    {{mix-builder/input type="number" value=mix.bpm update=(action updateMixBpm)}}
  </span>
{{/play-buttons}}

