<div class="five wide column">
  {{mix-builder/precision-controls/track
    clip=selectedTransition.fromTrackClip
    isFromTrackClip=true
    jumpTrackTask=jumpTrackTask

    quantizeBeat=(action quantizeBeat)
    jumpTrack=(action jumpTrack selectedTransition.fromTrackClip.mixItem)
  }}
</div>

<div class="six wide column">
  {{mix-builder/precision-controls/transition
    clip=selectedTransition.transitionClip
    selectedAutomation=selectedAutomation

    quantizeBeat=(action quantizeBeat)
    selectAutomation=(action selectAutomation)
    toggleShowAutomation=(action toggleShowAutomation)
  }}
</div>

<div class="five wide column">
  {{mix-builder/precision-controls/track
    clip=selectedTransition.toTrackClip
    isToTrackClip=true
    jumpTrackTask=jumpTrackTask

    jumpTrack=(action jumpTrack selectedTransition.toTrackClip.mixItem)
  }}
</div>
