<div class="five wide column">
  {{mix-builder/precision-controls/track
    clip=selectedTransition.fromTrackClip
    jumpTrackTask=jumpTrackTask

    jumpTrack=(action jumpTrack selectedTransition.fromTrackClip.mixItem)
  }}
</div>

<div class="six wide column">
  {{mix-builder/precision-controls/transition
    clip=selectedTransition.transitionClip
    showAutomation=attrs.showAutomation

    quantizeBeat=(action attrs.quantizeBeat)
    toggleShowAutomation=(action attrs.toggleShowAutomation)
  }}
</div>

<div class="five wide column">
  {{mix-builder/precision-controls/track
    clip=selectedTransition.toTrackClip
    jumpTrackTask=jumpTrackTask

    jumpTrack=(action jumpTrack selectedTransition.toTrackClip.mixItem)
  }}
</div>
