<table class="MixBuilderTracklist-table ui selectable inverted table">
  <thead>
    <tr>
      <th>#</th>
      <th>Song</th>
      <th>Artist</th>
      <th>Key</th>
      <th class="right align">Tempo</th>
    </tr>
  </thead>
  <tbody>
    {{#each mix.items as |item index|}}
      {{mix-builder/tracklist/item
        item=item
      }}
    {{/each}}
  </tbody>
</table>


{{!-- {{#mix-list mix=mix}}
  {{#each mix.items as |item|}}
    {{mix-list/item
      item=item
      remove="removeItem"
      viewTrack="zoomToClip"
      viewTransition=(action attrs.selectTransition)
      play="playItem"
      selectedClip=selectedClip
    }}
  {{/each}}
{{/mix-list}} --}}