.modal-lg {
  width: 1000px;
  margin-left: -500px;
  height: 600px;
}

.modal-lg .modal-body {
  max-height: 476px;
}

.modal-sm {
  width: 800px;
  margin-left: -400px;
  height: 500px;
}

.modal-sm .body {
  max-height: 450px;
}