.waveform {
  color: #111;
  text-decoration: bold;
  background-color: #aaa;
  border: 2px solid #666;
  height: 200px;
  margin-top: 30px;
  padding: 0;
}

.waveform.wavesurfer-dragover, .loadText:hover {
  color: #fff;
  background-color: #555;
  border-color: #000;
}

.loadText {
  margin-bottom: 0;
  border-color: #333;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
}