.uploaderWelcome {
  background: black;
}

.waveform {
  color: #000;
  text-decoration: bold;
  background-color: #7A6161;
  border: 2px solid #555;
  height: 200px;
  margin-top: 30px;
  padding: 0;
}

.wave-focus {background: -moz-radial-gradient(center, ellipse cover,  rgba(0,36,0,1) 0%, rgba(0,87,0,0.95) 26%, rgba(0,138,0,0.92) 41%, rgba(82,177,82,0.89) 57%, rgba(131,199,131,0.86) 73%, rgba(255,255,255,0.82) 97%, rgba(255,255,255,0.81) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,36,0,1)), color-stop(26%,rgba(0,87,0,0.95)), color-stop(41%,rgba(0,138,0,0.92)), color-stop(57%,rgba(82,177,82,0.89)), color-stop(73%,rgba(131,199,131,0.86)), color-stop(97%,rgba(255,255,255,0.82)), color-stop(100%,rgba(255,255,255,0.81))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,36,0,1) 0%,rgba(0,87,0,0.95) 26%,rgba(0,138,0,0.92) 41%,rgba(82,177,82,0.89) 57%,rgba(131,199,131,0.86) 73%,rgba(255,255,255,0.82) 97%,rgba(255,255,255,0.81) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(0,36,0,1) 0%,rgba(0,87,0,0.95) 26%,rgba(0,138,0,0.92) 41%,rgba(82,177,82,0.89) 57%,rgba(131,199,131,0.86) 73%,rgba(255,255,255,0.82) 97%,rgba(255,255,255,0.81) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(0,36,0,1) 0%,rgba(0,87,0,0.95) 26%,rgba(0,138,0,0.92) 41%,rgba(82,177,82,0.89) 57%,rgba(131,199,131,0.86) 73%,rgba(255,255,255,0.82) 97%,rgba(255,255,255,0.81) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(0,36,0,1) 0%,rgba(0,87,0,0.95) 26%,rgba(0,138,0,0.92) 41%,rgba(82,177,82,0.89) 57%,rgba(131,199,131,0.86) 73%,rgba(255,255,255,0.82) 97%,rgba(255,255,255,0.81) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#cfffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.progress {
  height: 40px;
  margin: 80px;
}

.wavesurfer-dragover {
  background-color: #330000;
  color: #fff;
}

.loadText:hover {
  background-image: linear-gradient(to bottom, #081888, #001166);
  background-color: #428bca;
  color: #fff;
}

.loadText {
  margin-bottom: 0;
  border-color: #333;
  font-size: 30px;
  padding: 21px;
  cursor: pointer;
}