<!-- Uploader Page -->
<template name="uploaderPage">

  {{> songSelectDialog}}
  {{> songInfoDialog}}

  <div class="row">
    {{> uploaderWelcome}}
    {{> uploaderControls}}
  </div>
  
  {{> uploader}}
</template>

<!-- Uploader -->
<template name="uploader">
  <div class="uploader">
    {{#each waves}}
      {{> wave}}
    {{/each}}
  </div>
</template>

<!-- Wave -->
<template name="wave">
  <div class ="row" id="{{id}}">
    <div class="col-md-12 waveform">
      <div class="loadText text-center lead">
        {{#if isSongWave}}
          {{> songLoadText}}
        {{else}}
          {{> transitionLoadText}}
        {{/if}}
        <!-- Here be waveform -->
      </div>
    </div>
    {{> wavePlayer}}
  </div>
</template>

<!-- Song Load Text -->
<template name="songLoadText">
  <div class="songLoadText">
    <p>Click to select a song</p>
    <p style="color: #eee">-OR-</p>
    <p>{{loadText}}</p>
  </div>
</template>

<!-- Transition Load Text -->
<template name="transitionLoadText">
  <div class="transitionLoadText">
    {{loadText}}
  </div>
</template>

<!-- Controls -->
<template name="uploaderControls">
  <div class="col-md-5 col-md-offset-5">
  </div>
</template>