.waveforms {
  margin-top: 60px;
}

.waveform {
  color: #fff;
  text-decoration: bold;
  background-color: #656565;
  border: 2px solid #333;
  height: 150px;
  width: 1900px;
  padding-right: 0;
  margin-top: 30px;
}

.wavePlayer {
  margin-top: 20px;
}