<!-- Uploader Page -->
<template name="uploaderPage">

  {{> songSelectDialog}}
  {{> transitionSelectDialog}}
  {{> songInfoDialog}}

  <div class="row">
    {{> uploaderWelcome}}
    {{> uploaderControls}}
  </div>
  
  {{> uploader}}
    
</template>

<!-- Uploader -->
<template name="uploader">
  <div class="uploader">
    {{#each waves}}
      {{> wave}}
    {{/each}}
  </div>
</template>

<!-- Wave -->
<template name="wave">
  <div class ="wave" id="{{id}}">
    <div class="waveform">
      <!-- Here be waveform -->
      <div class="loadText">
        {{#if isSongWave}}
          {{> songLoadText}}
        {{else}}
          {{> transitionLoadText}}
        {{/if}}
      </div>
    </div>
    {{> wavePlayer}}
  </div>
</template>

<!-- Song Load Text -->
<template name="songLoadText">
  <div class="songLoadText">
    <p>{{loadText}}</p>
    <p style="color: #eee">-OR-</p>
    <p>Click to select an existing song</p>
  </div>
</template>

<!-- Transition Load Text -->
<template name="transitionLoadText">
  <div class="transitionLoadText">
    <p>{{loadText}}</p>
    <p style="color: #eee">-OR-</p>
    <p>Click to select a transition to fix</p>
  </div>
</template>

<!-- Controls -->
<template name="uploaderControls">
  <div class="uploaderControls">
  </div>
</template>