<!-- Uploader Page -->
<template name="uploaderPage">
  <div id="uploaderPage">

    {{> songSelectDialog}}
    {{> transitionSelectDialog}}
    {{> songInfoDialog}}
    {{> transitionInfoDialog}}
    {{> songMatchDialog}}

    <div class="row">
      {{> uploaderWelcome}}
      {{> uploaderControls}}
    </div>
    
    {{> uploader}}
    
  </div>
</template>

<!-- Uploader -->
<template name="uploader">
  <div class="uploader">
    {{#each waves}}
      {{> wave}}
    {{/each}}
  </div>
</template>

<!-- Wave -->
<template name="wave">
  <div class ="row wave" id="{{id}}">
    <div class="col-md-12 waveform">
      <!-- Here be waveform -->
      <div class="loadText text-center">
        {{#if isSongWave}}
          {{> songLoadText}}
        {{else}}
          {{> transitionLoadText}}
        {{/if}}
      </div>
    </div>
    {{> wavePlayer}}
  </div>
</template>

<!-- Song Load Text -->
<template name="songLoadText">
  <div class="songLoadText">
    <p>{{loadText}}</p>
    <p style="color: #eee">-OR-</p>
    <p>Click to select an existing song</p>
  </div>
</template>

<!-- Transition Load Text -->
<template name="transitionLoadText">
  <div class="transitionLoadText">
    <p>{{loadText}}</p>
    <p style="color: #eee">-OR-</p>
    <p>Click to select a transition to fix</p>
  </div>
</template>

<!-- Controls -->
<template name="uploaderControls">
  <div class="col-md-5 col-md-offset-5">
  </div>
</template>