<!-- Uploader Welcome -->
<template name="uploaderWelcome">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">Welcome to the uploader!</h3>
        </div>
        <div class="panel-body text-center">
          {{> tips}}
        </div>
      </div>
    </div>
  </div>
</template>

<!-- Tips -->
<template name="tips">
  <button type="button" class="btn btn-info helptip" data-toggle="tooltip" data-placement="top" title=""
  data-original-title="Drag-and-drop your starting song, transition, and ending song files into the labeled regions.">
  <strong>Step 1:</strong> Load Files</button>
  <button type="button" class="btn btn-info helptip" data-toggle="tooltip" data-placement="bottom" title=""
  data-original-title="2">
  <strong>Step 2:</strong> Align Transition</button>
  <button type="button" class="btn btn-info helptip" data-toggle="tooltip" data-placement="top" title=""
  data-original-title="3">
  <strong>Step 3:</strong> Place Markers</button>
  <button type="button" class="btn btn-info helptip" data-toggle="tooltip" data-placement="bottom" title=""
  data-original-title="Click here to submit your transition!">
  <strong>Step 4:</strong> Upload</button>
</template>