<div class="application pushable">
  {{site-nav}}

  <div class="main-container pusher">
    {{outlet}}
  </div>

  {{#bottom-bar isActive=isBottomBarActive}}
    {{queue-controls}}
  {{/bottom-bar}}
</div>