<div class="application">
  {{site-nav}}

  <div class="main-container pusher">
    {{outlet}}
  </div>

</div>

{{!-- 
  {{#arrangement-grid arrangement=arrangement}}
    {{#each row in arrangement.sortedRows}}
      {{#arrangement-row row=row}}
        {{#each clip in row.clips}}
          {{arrangement-item arrangementClip=clip}}
        {{/each}}
      {{/arrangement-row}}
    {{/each}}
  {{/arrangement-grid}}
--}}
