<div class="MixPage">
  {{page-drop action="onPageDrop"}}

  {{simple-mix
    mix=model
    store=store
    scrollCenterBeat=scrollCenterBeat
    saveMix="saveMix"
    deleteMix="deleteMix"
    transitionToTransition="transitionToTransition"
  }}

  {{outlet}}
</div>
