<div class="mixes">
  <div class="inverted green ui icon button test-create-mix" {{action 'createMix'}}>
    <i class="add icon"></i>
    New Mix
  </div>

  {{#mixes-list mixes=mixes}}
    {{#each mixes as |mix|}}
      {{mixes-list-item
        mix=mix
        select="selectMix"
      }}
    {{/each}}
  {{/mixes-list}}
</div>
