<div class="track-page">
  <div>Linx</div>
  <div>{{model.title}}</div>
  <div>{{model.artist}}</div>

  <hr/>

  <div>Echonest</div>
  <div>{{model.echonestTrack.id}}</div>
  <div>{{model.echonestTrack.artist}}</div>
</div>
