<div class="transitions-page">
  {{#each transition in model}}
    <div class="transition">
      {{#link-to 'transition' transition}}
        Transition - {{transition.fromTrack.title}} &middot; {{transition.toTrack.title}}
      {{/link-to}}
    </div>
  {{/each}}
</div>
