<!-- Modal -->
<template name="songInfoDialog">
  <div class="modal modal-sm fade" id ="songInfoDialog">

    <div class="modal-header">
      <button type="button" class="close"></button>
      <h4 class="modal-title">Fill in Song Info</h4>
    </div>

    <!-- Body -->
    <div class="modal-body">
      {{> songInfoForm}}
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitSongInfo">Submit Info</button>
    </div>


  </div><!-- /.modal -->
</template>

<!-- Form -->
<template name="songInfoForm">
  <form class="form" role="form">

    Track Title:
    <input type="text" class="form-control" name="name" placeholder="Track Title">

    Track Artist: 
    <input type="text" class="form-control" name="artist" placeholder="Track Artist">-->

  </form>
</template>