<!-- Modal -->
<template name="transitionInfoDialog">
  <div class="modal modal-sm fade" id ="transitionInfoDialog">

    <div class="modal-header">
      <button type="button" class="close">&times;</button>
      <h4 class="modal-title">Fill in Transition Info</h4>
    </div>

    <!-- Body -->
    <div class="modal-body">
      {{> transitionInfoForm}}
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitTransitionInfo">Submit Info</button>
    </div>


  </div><!-- /.modal -->
</template>

<!-- Form -->
<template name="transitionInfoForm">
  <form class="form" role="form">

    Mixed By: 
    <input type="text" class="form-control" name="dj" placeholder="DJ Name">-->

    <!-- hack to prevent submission on enter press for single input form -->
    <input type="text" style="display: none;" />

  </form>
</template>