<template name="loadingPage">

  <!-- Hidden button to go to loading page -->
  <button id="gotoLoadingPage" style="display: none;"></button>

  <div id="loader" class="row text-center">
    <h1><em>{{uploadCount}} Track Upload(s) Remain...</em></h1>
    <h5>Please <strong>DO NOT leave this page</strong> until you get confirmation that the upload has completed.</h5>
    <div id="loadingIcon"></div>
    <br/>
    <h4><em>Linx thanks you for your contribution!</em></h4>
    <br/>
    <p>
      <code>
        <a href="https://github.com/wolfbiter/linx/issues/new" target="_blank">Report 
          Github Issue</a>
      </code>
    </p>
    <p><code>Contact Me: wolfbiter -at- gmail.com</code></p>
  </div>
</template>

<template name="loadingLayout">
  {{{yield}}}
</template>